<div ng-include src="'views/dashboard/navbar.html'"></div>


<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <div ng-include src="'views/dashboard/sidebar.html'"></div>
      </div>
    </div>
    <div class="col-md-10">
      <h4 class="text-center">条形码管理
        <form class="navbar-form navbar-right">
          <p>
            <a class="btn btn-primary" data-toggle="modal" data-target="#add">
              添加条形码</a>
          </p>
        </form>
      </h4>
      <table class="table text-center">
        <tr>
          <th rowspan="2">ID</th>
          <th colspan="2">条形码</th>
          <th rowspan="2">描述/介绍</th>
          <th rowspan="2">品牌</th>
          <th rowspan="2">图片</th>
          <th rowspan="2">操作</th>
        </tr>
        <tr>
          <th>格式</th>
          <th>代码</th>
        </tr>
        <tr ng-repeat="barcode in barcodes track by $index">
          <td>{{barcode.id}}</td>
          <td>{{barcode.format}}</td>
          <td>{{barcode.code}}</td>
          <td>{{barcode.desc}}</td>
          <th>{{barcode.brand}}</th>
          <td><span ng-repeat="image in barcode.images" class="imgs{{barcode.sis[$index]}}"><a
            ng-href="{{image.url}}" target="_blank"><img
            ng-src="{{image.url}}" alt="{{image.hash}}" height="50px"/></a>&nbsp;</span>
          </td>
          <td>
            <button class="btn btn-warning" ng-show="!barcode.online" ng-click="online(barcode);$event.stopPropagation()">上线</button>
            <button class="btn btn-success" ng-show="barcode.online"  ng-click="offline(barcode);$event.stopPropagation()">下线</button>

            <button class="btn btn-info" data-toggle="modal" data-target="#modify"
                    ng-click="openModify(barcode)">修改</button>
            <button class="btn btn-danger" ng-click="remove(barcode);$event.stopPropagation()">删除</button>
          </td>
        </tr>
      </table>
      <div ng-include src="'views/dashboard/pagination.html'"></div>

    </div>
  </div>
</div>

<div ng-include src="'views/dashboard/barcode/new.html'"></div>
<div ng-include src="'views/dashboard/barcode/edit.html'"></div>

</div>
