<div class="modal fade" id="add" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">添加图片</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal image" role="form" enctype="multipart/form-data" action="post">
          <div class="form-group">
            <label for="file" class="col-sm-2 control-label">图片<span>*</span></label>

            <div class="col-sm-10">
              <input type="file"  id="file"
                     name="image" placeholder="请输入图片"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" ng-click="upload();$event.stopPropagation();">上传</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">返回</button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
